<div class="page">
    <div>
        TAPASTOP/STATISTICS
    </div>
    <div class="container">
        <div class="side-menu">
            <a [routerLink]="['/home']">Home</a>
            <a [routerLink]="['/profile']">Profile</a>
            <a [routerLink]="['/galardones']">Awards</a>
            <a [routerLink]="['/degustaciones']">Tastings</a>
            <a [routerLink]="['/help']">Help</a>
        </div>
        <div class="custom-form">
            <div class="custom-form2">
                <h3>Restaurants</h3>
                <p-table [value]="userRestaurants" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Coordinates</th>
                            <th>Address</th>
                            <th>Added By</th>
                            <th>Date</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-local>
                        <tr>
                            <td>{{local.name}}</td>
                            <td>{{local.coordinates}}</td>
                            <td>{{local.address}}</td>
                            <td>{{local.addedBy}}</td>
                            <td>{{local.date}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- <a [routerLink]="['/tastings']">View All</a> -->
            </div>
        </div>
    </div>
</div>